header {
  width: 100%;
  height: 224px;
  background: linear-gradient(90.23deg, rgb(26, 58, 118) 30.1%, rgb(66, 107, 184), #ed6565, #cc3737 69.9%);
  background-size: 250% 250%;
  display: flex;
  justify-content: center;
  padding: 40px 50px;
  animation: colors 15s ease infinite;
}

.content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

.content-header img {
  cursor: pointer;
}

.container-sign-out {
  display: flex;
  align-items: center;
}

.profile-area {
  display: flex;
  align-items: center;
  color: white;
  cursor: pointer;
}

.sign-out {
  margin-left: 16px;
  height: 24px;
}

@keyframes colors {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.sign-out:hover {
  transform: scale(1.1);
}